.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  
}

#calculator{
  background-color: black;
  float:left;
  height: 372px;
  width: 291px;
  box-shadow: 2px 2px 0px 4px #484848;
}

#clear{
  width: 290.7px;
  height: 30px;
  box-sizing: border-box;
  text-align: center;
  background-color: green;
  padding: 1%;
  cursor:pointer;
  
}

#clear:hover{
  background-color: #6DCF48;
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5);
}

#clear:active {
  background-color: #E10A0A;
}

#display {
  color: white;
  width: 266px;
  height: 30px;
  background-color: black;
  text-align: right;
  
}

#formula {
  color: orange;
  width: 266px;
  height: 20px;
  background-color: black;
  text-align: right;
  
}




#numbers{
  padding: 2px;
  display: inline-block;
  position: relative;
  width: 290px;
  height: 290px;
  
}

#numbers *{
  width: 66px;
  height: 66px;
  background-color: #FF6C00;
  float:left;
  box-sizing: border-box;
  text-align: center;
  padding: 10%;
  position:relative;
  cursor:pointer;
  margin:3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numbers *:hover{
  background-color: #FF9242;
}

#numbers *:active{
  background-color: #1e5631; /* change the background color when clicked */
  box-shadow: inset 0px 2px 5px rgba(0,0,0,0.5); /* add a shadow effect */
}

#operators{
  position: relative;
  float:right;
  width: 66px;
  height: 200px;
}

